*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    color: #fff;
    font-size: 62,5%;
    font-weight: normal;
    background-image: linear-gradient(to right top, #060605, #050504, #040403, #030302, #020201, #000000);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

button, input {
    outline: none;
    border: none;
    cursor: pointer;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

.header {
    padding: 4rem 11rem 4rem 8rem;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-nav a:not(:last-child) {
    margin-right: 7.1rem;
}

.header-btn {
    margin-left: 55.3rem;
}
