@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: normal;
    background-image: linear-gradient(to right top, #060605, #050504, #040403, #030302, #020201, #000000);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

button, input {
    outline: none;
    border: none;
    cursor: pointer;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.button {
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 150%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    color: #fff;
    font-weight: 700;
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 40px 110px 40px 80px;
    z-index: 10;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: block;
    width: 40px;
    height: 40px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 65%;
}

.header-nav {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-items: center;    
}

.header-nav a:not(:last-child) {
    margin-right: 71px;
}

.main-display .container {
    position: relative;
    z-index: 10;
    padding-bottom: 228px;
}

.main-display {
    padding-top: 270px;
}

.main-title {
    font-size: 64px;
    font-weight: 700;
    max-width: 760px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.main-timer {
    display: flex;
    margin-bottom: 76px;
}

.timer-item {
    width: 102px;
    height: 112px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer-item:not(:last-child) {
    margin-right: 30px;
}

.timer-count {
    font-size: 36px;
    line-height: 140%;
}

.timer-text {
    font-size: 16px;
    line-height: 140%;
    opacity: 0.4;
}

.main-btn {
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.main-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 1920px;
    height: 960px;  
}

.work {
    padding-top: 200px;
    padding-bottom: 243px;
}

.work-wrap {
    display: flex;
}

.work-img {
    width: 526px;
    height: 499px;
    margin-right: 139px;
}

.work-text {
    max-width: 636px;
    padding-top: 69px;
}

.work-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 45px;
}

.work-description {
    line-height: 160%;
}

.process {
    padding-bottom: 200px;
    position: relative;
}

.process-img {
    width: 90px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.process-title {
    display: flex;
}

.process-header {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
}

.process .process-header {
    margin-bottom: 49px;
}

.process-description {
    line-height: 160%;
    opacity: 0.5;
    margin-bottom: 80px;
    margin-left: 24px;
    max-width: 411px;
}



.process-columns {
    display: flex;
}

.process-columns::after {
    content: '';
    display: block;
    width: 1300px;
    height: 2px;
    position: absolute;
    top: 310px;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.process-item {
    max-width: 306px;
}

.process-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;  
    margin-bottom: 65px;
}

.process-text {
    font-size: 14px;
    line-height: 160%;
    opacity: 0.5;
}

.team {
    padding-bottom: 200px;
}

.team .process-img {
    transform: rotate(-45deg);
}

.team-title {
    margin-bottom: 119px;
}

.team-wrap {
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
}

.team-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-img img {
    width: 190px;
    height: 190px;
    margin-bottom: 40px;
    border-radius: 50%;
}

.team-name {
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 15px;
}

.team-profession {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 30px;
}

.team-link {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    background: transparent;
    border:  1px #fff solid;
}

.assembly {
    padding-bottom: 244px;
}

.assembly-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.assembly-header {
    font-weight: 700px;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 30px;
}

.assembly-description {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 45px;
}

.assembly-button {
    margin-bottom: 58px;
    line-height: 150%;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.assembly-socials {
    display: flex;
    justify-content: center;
}

.assembly-item {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assembly-item:not(:last-child) {
    margin-right: 30px;
}

.assembly-item img {
    width: 50%;
    height: 50%;
}